@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the carousel */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}